.actionbar {
  padding: 1.5rem;
  border: 1px solid #333;
  background: #000;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
  border-radius: 2px;

  @include mq(md) {
    padding: 1.5rem 3rem;
    grid-template-columns: 1fr 4fr auto;
  }

  h3 {
    margin: 0;
  }

  p {
    max-width: 30rem;
  }
}
