.banner {
  background: center center no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 4rem;

  &__content {
    background: rgba(#000, 0.62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

    h3,
    p {
      max-width: 30rem;
    }

    a {
      display: inline-block;
      margin-top: 2rem;
    }

    @include mq(md) {
      align-items: center;
      text-align: center;
    }
  }

  @include mq-down(md) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
