.footer {
  padding: 3rem 0;
  background: linear-gradient(rgba(#000, 0) 0%, #000 100%);

  &__inner {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr;

    p {
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }

    h4 {
      margin-bottom: 1rem;
    }
  }
}
