.footer {
  padding: 3rem 0;
  background: linear-gradient(rgba(#000, 0) 0%, #111 100%);

  border-top: 2px solid #222;

  @include mq(md) {
    border-top: none;
  }

  &__inner {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;

    @include mq(md) {
      gap: 2rem;
      grid-template-columns: 1fr 2fr 1fr;
    }

    p {
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }

    h4 {
      margin-bottom: 1rem;
    }
  }
}
