.header {
  padding: 0.5rem 0;
  margin-bottom: 4rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: block;
    color: #fff;

    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &--home {
      font-weight: bold;
    }

    &:hover {
      color: $brand-color-primary;
      text-decoration: none;
    }

    &[aria-current] {
      color: $brand-color-primary;
    }
  }
}
