.header {
  padding: 0.5rem 0;
  margin-bottom: 1rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: block;
    color: #fff;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
      color: $brand-color-primary;
      text-decoration: none;
    }

    &[aria-current] {
      color: $brand-color-primary;
    }
  }
}
