.header {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #333;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #fff;
    }
  }
}
