.landing-calculator-cta {
  background: #222;
  display: flex;
  justify-content: center;

  &__content {
    padding: 1rem;
    max-width: 30rem;

    @include mq(md) {
      padding: 3rem;
    }
  }

  p {
    margin: 1rem 0;
  }

  .button {
    margin-top: 2rem;
    display: block;
    width: 100%;
  }
}
