.landing-calculator-cta {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  &__visual {
    background: #111;
  }

  &__content {
    padding: 1rem;
    max-width: 30rem;

    @include mq(md) {
      padding: 3rem;
    }
  }

  p {
    margin: 1rem 0;
  }

  .button {
    margin-top: 2rem;
    display: block;
    width: 100%;
  }
}
