.member-stories {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0;

  &__item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
    align-items: center;
  }

  &__img {
    display: block;
    width: 8rem;
    height: 8rem;
    object-fit: cover;

    img {
      filter: sepia() hue-rotate(150deg);
    }
  }

  &__content {
    max-width: 50rem;

    p {
      margin: 1rem 0;
    }
  }

  &__link {
    display: block;
    font-weight: bold;
  }
}
