.member-stories {
  margin: 2rem 0;

  &__item {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 3rem;
    grid-template-columns: auto 1fr;
  }

  &__img {
    display: block;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    background: #333;

    filter: sepia() hue-rotate(150deg);
  }

  &__content {
    max-width: 50rem;

    p {
      margin: 1rem 0;
    }
  }

  &__link {
    display: inline-block;
    font-size: 0.9rem;

    & + & {
      margin-left: 0.5rem;
    }
  }
}
