.nav {
  &__menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #000;
  }

  &__link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__toggle {
    @include button-reset;
  }

  @include mq-down(lg) {
    &.is-open &__menu {
      display: block;
    }
  }

  @include mq(lg) {
    &__link {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    &__toggle {
      display: none;
    }

    &__menu {
      display: flex;
      position: static;
      background-color: transparent;
    }
  }
}
