.resources {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @include mq(md) {
    grid-template-columns: 20rem 1fr;
  }

  &__desktop-filter {
    @include mq-down(md) {
      display: none;
    }

    button {
      border: none;
      background: none;
      font-size: 1rem;
      display: block;
      width: 100%;
      cursor: pointer;
      text-align: left;
      padding: 0.2rem;
      margin: 0.2rem;

      &[data-filter-active] {
        color: $brand-color-primary;
        font-weight: bold;
      }

      &:hover {
        background: #222;
      }

      &:disabled {
        cursor: default;
        opacity: 0.7;
      }

      small {
        opacity: 0.7;
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid #444;
    }
  }

  &__mobile-filter {
    @include mq(md) {
      display: none;
    }

    select {
      background: #222;
      border: 1px solid #444;
      border-radius: 5px;
      display: block;
      width: 100%;
      padding: 0.75rem;
    }
  }
}

.resource {
  border: 1px solid #444;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;

  &--intro {
    background: #222;
  }

  &--hidden {
    display: none;
  }

  h4 small {
    opacity: 0.7;
    display: inline-block;
    margin-left: 0.25rem;
  }

  small > span {
    & + span:before {
      content: "| ";
      opacity: 0.5;
    }
  }
}
