.topic-index {
  @include mq(md) {
    columns: 2;
    column-gap: 2rem;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.3s;
    font-family: $font-family-monospace;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1.75rem;
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
      border-radius: 4px;

      background: #111;
      filter: sepia(100%) hue-rotate(180deg);
      transition: filter 0.3s;
    }

    &:hover {
      background: #333;
      text-decoration: none;

      span {
        filter: sepia(100%) hue-rotate(220deg) invert(100%);
      }
    }
  }
}
