
{% capture "after_addendum" %}
{% set translate = lang | translateFn %}
{% set general = collections.all | getPage('general', lang) %}

<div class="landing-calculator-cta">
    <div class="landing-calculator-cta__visual" data-workshop-visual="before"></div>
    <div class="landing-calculator-cta__content">
        <h3 class="heading">{{ general.data.dig_et_banner_title }}</h3>

       <p>{{ general.data.dig_et_banner_body }}</p>

        <a class="button" href="https://digitaletiquette.e-missions.nl/">
            {{ general.data.dig_et_banner_button }}
        </a>
    </div>
    <div class="landing-calculator-cta__visual" data-workshop-visual="after"></div>
</div>
{% endcapture %}
