{% set general = collections.all | getPage('general') %}

<footer class="footer" role="contentinfo">
    <div class="footer__inner container">

        <div class="footer__column">
            <h4 class="heading heading--small">{{ translate('topics') }}</h4>
            <ul>
            {%- for item in collections["topics_" + lang] -%}
                {%- if item.url -%}
                    {%- set isCurrent = (item.url == page.url) -%}
                    {%- set isParent = item.url != '/' and item.url in page.url -%}
                    <li>
                        <a
                            href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
                            {% if isCurrent %}aria-current="page"{% endif %}
                        >
                            {{ item.data.title }}
                        </a>
                    </li>
                {%- endif -%}
            {%- endfor -%}
            </ul>
        </div>

        <div class="footer__column">
            <h4 class="heading heading--small">{{ translate('pages') }}</h4>

            <ul>
            {%- for item in collections["pages_" + lang] | eleventyNavigation -%}
                {%- if item.url -%}
                    {%- set isCurrent = (item.url == page.url) -%}
                    {%- set isParent = item.url != '/' and item.url in page.url -%}
                    <li>
                        <a
                            href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
                            {% if isCurrent %}aria-current="page"{% endif %}
                        >
                            {{ item.title }}
                        </a>
                    </li>
                {%- endif -%}
            {%- endfor -%}
            </ul>
        </div>

        <div class="footer__column">
            <h4 class="heading heading--small">{{ translate('about_emissions') }}</h4>
            {{ general.data['footer_about_' + lang] | markdown | safe }}
        </div>
    </div>
</footer>