<footer class="footer" role="contentinfo">
    <div class="footer__inner container">

        <div class="footer__column">
            <h4>Tips &amp; Tricks</h4>

        </div>

        <div class="footer__column">
            <h4>Paginas</h4>

        </div>

        <div class="footer__column">
            <h4>About E-Missions</h4>
            <p>Brief paragraph of E-Missions in a nutshell. Brief paragraph of E-Missions in a nutshell. Brief paragraph of E-Missions in a nutshell.</p>
            <p>Copyright &copy; 2021</p>

            <p>
                Project supported by:<br />
                <a href="https://www.sidn.nl" target="_blank">SIDN</a><br />
                <a href="https://stimuleringsfonds.nl/" target="_blank">Stimuleringsfonds</a>
            </p>
        </div>
    </div>
</footer>