<footer class="footer" role="contentinfo">
    <div class="footer__inner container">

        <div class="footer__column">
            <h4>Tips &amp; Tricks</h4>

        </div>

        <div class="footer__column">
            <h4>{{ translate('pages') }}</h4>

            <ul>
            {%- for item in collections["pages_" + lang] | eleventyNavigation -%}
                {%- if item.url -%}
                    {%- set isCurrent = (item.url == page.url) -%}
                    {%- set isParent = item.url != '/' and item.url in page.url -%}
                    <li>
                        <a
                            href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
                            {% if isCurrent %}aria-current="page"{% endif %}
                        >
                            {{ item.title }}
                        </a>
                    </li>
                {%- endif -%}
            {%- endfor -%}
            </ul>

        </div>

        <div class="footer__column">
            <h4>{{ translate('about_emissions') }}</h4>
            <p>{{ translate('about_emissions_text') }}</p>
            <p>Copyright &copy; 2021</p>

            <p>
                {{ translate('project_supported_by') }}:<br />
                <a href="https://www.sidn.nl" target="_blank">SIDN</a><br />
                <a href="https://stimuleringsfonds.nl/" target="_blank">Stimuleringsfonds</a>
            </p>
        </div>
    </div>
</footer>