<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <a
                class="header__link header__link--home"
                href="{{ translate('root_path') }}"
                {% if page.url == '/' %}aria-current="page"{% endif %}
            >
                <img class="header__logo" src="/assets/images/e-missions-logo.svg" alt="" />
                E-Missions
            </a>
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>