{% set translate = lang | translateFn %}
<div class="topic-index">
    {%- for item in collections["topics_" + lang] | sortBy('fileSlug') -%}
    <a
        class="topic-index__link"
        href="{{ item.url | url }}"
    >
        <span>{% icon item.fileSlug %}</span>
        {{ item.data.title }}
    </a>
    {%- endfor -%}
</div>