---
layout: page
---
{% capture "after_main" %}
<section class="section simple-page">
    <h3>Meet the team</h3>
    <ul class="member-stories">
    {%- for item in collections.members | sortBy('fileSlug')  -%}
        <li class="member-stories__item">
            {% if item.data.image %}
                {% co2image item.data.image, "member-stories__img" %}
            {% else %}
                <div class="member-stories__img"></div>
            {% endif %}

            <div class="member-stories__author">
                <strong>{{ item.data.title }}</strong> - {{ item.data.role }}<br />
                {% if item.data.linkedin %}<a class="member-stories__link" href="{{ item.data.linkedin | url }}" target="_blank">Linkedin</a>{% endif %}
                {% if item.data.website %}<a class="member-stories__link" href="{{ item.data.website | url }}" target="_blank">Website</a>{% endif %}

                {{ item.data.content | markdown | safe }}
            </div>

        </li>
    {%- endfor -%}
    </ul>
</section>
{% endcapture %}


{% capture "after_addendum" %}
<div class="section section--content">
    <h5 id="disclaimer">Disclaimer</h5>
    <p>TODO: Disclaimer text (not editable via CMS)</p>
</div>
{% endcapture %}