---
layout: page
---
{% set translate = lang | translateFn %}
{% set general = collections.all | getPage('general', lang) %}

{% capture "after_main" %}
<section class="section simple-page">
    <h3>{{ translate('meetTheTeam') }}</h3>
    <ul class="member-stories">
    {%- for item in collections.members | sortBy('order')  -%}
        <li class="member-stories__item">
            {% if item.data.image %}
                {% co2image item.data.image, "member-stories__img" %}
            {% else %}
                <div class="member-stories__img"></div>
            {% endif %}

            <div class="member-stories__author">
                <a class="member-stories__link" href="{{ item.data.website }}" target="_blank">
                    {{ item.data.title }}
                </a>
                {{ item.data.role }}

                {% if item.data.content %}
                {{ item.data.content | markdown | safe }}
                {% endif %}
            </div>

        </li>
    {%- endfor -%}
    </ul>
</section>
{% endcapture %}


{% capture "after_addendum" %}
<div class="section section--content">
    <h3 id="disclaimer">Disclaimer</h3>
    {{ general.data.disclaimer | markdown | safe }}
</div>
{% endcapture %}