---
layout: base
---
{% set translate = lang | translateFn %}

{% set email = collections.all | getPage('email', lang) %}
{% set takeAction = collections.all | getPage('take-action', lang) %}
{% set tasting = collections.all | getPage('sensing-co2', lang) %}
{% set about = collections.all | getPage('about', lang) %}

<section class="landing-hero">
    <img class="landing-hero__img" src="/static/img/co2bubbles.jpg" alt="CO2 bubbles in water" />
    <div class="landing-hero__content">
        <div>
            <h1>Do you know how much CO2 your internet behaviour produces?</h1><br /><br />
            <p>Find out with our calculator. Taste your CO2 impact with a Sensing CO2 Tasting and read our collection of tips &amp; tricks so you can improve your digital CO2 emissions.</p>
        </div>
    </div>
</section>

<article class="container">
    {% if email %}
    <div class="email-calculator-cta">
        <h3>E-mail impact calculator</h3>
        <p>Short introduction text about the impact calculator, what's it about. Enticing story to click through. Short introduction text about the impact calculator, what's it about. Enticing story to click through. Short introduction text about the impact calculator, what's it about. Enticing story to click through.</p>
        <a href="{{ email.url }}">Calculate your impact</a>
    </div>
    {% endif %}


    <section class="topic-section">
        <div class="topic-section__topics">
            {% include "topic-index.njk" %}
        </div>

        <div class="topic-section__content">
            <h3>{{ translate('topics') }}</h3>
            <p>Wondering what affects the CO2 of your internet behaviour and what you can do about it? Read our tips &amp; tricks and calculate your Co2 output with our calculators.</p>
            <p>Select your ‘resolutions’ and contribute to an eco-friendly digital lifestyle</p>
        </div>
    </section>

    {% if takeAction %}
    <section class="actionbar">
        <h3>Take action!</h3>
        <p>
            Each Tips &amp; tricks page has several actionable todo's you could try out!
            Visit the <a href="{{ takeAction.url }}">Take Action</a> page to generate an overview of your battleplan!
        </p>

        <a href="{{ takeAction.url }}">
            Take action
        </a>
    </section>
    {% endif %}

    {% if tasting %}
    <section class="flipflop flipflop--reverse">
        <div class="flipflop__image">
            {% if tasting.data.image %}
            <img src="{{ tasting.data.image }}" alt="" />
            {% endif %}
        </div>
        <div class="flipflop__content">
            <h3>{{ tasting.data.title }}</h3>
            {% if tasting.data.landingpage_text %}
                {{ tasting.data.landingpage_text | markdown | safe}}
            {% endif %}
            <a href="{{ tasting.url }}">Read more</a>
        </div>
    </section>
    {% endif %}

    {% if about %}
    <section class="flipflop">
        <div class="flipflop__image">
            {% if about.data.image %}
            <img src="{{ about.data.image }}" alt="" />
            {% endif %}
        </div>
        <div class="flipflop__content">
            <h3>{{ about.data.title }}</h3>
            {% if about.data.landingpage_text %}
                {{ about.data.landingpage_text | markdown | safe}}
            {% endif %}
            <a href="{{ about.url }}">Read more</a>
        </div>
    </section>
    {% endif %}

</article>