---
layout: base
---
<article class="container simple-page">
    <section class="flipflop flipflop--reverse section">
        <div class="flipflop__image">
            {% if image %}
                <img src="{{ image }}" alt="" />
            {% endif %}
        </div>

        <div class="flipflop__content">
            <h1 class="heading heading--large">{{ title }}</h1>
            {% if body_intro_text %}
                {{ body_intro_text | markdown | safe }}
            {% endif %}
        </div>
    </section>

    {% block after_intro %}{% endblock %}

    {% if body_main_text %}
    <section class="section">
        {{ body_main_text | markdown | safe }}
    </section>
    {% endif %}

    {% block after_main %}{% endblock %}

    {{ content | safe }}

    {% if body_addendum_text %}
    <section class="section">
        {{ body_addendum_text | markdown | safe }}
    </section>
    {% endif %}

    {% block after_addendum %}{% endblock %}
</article>