---
layout: base
---
<article class="container">
    <section class="flipflop {% if image %}flipflop--reverse{% else %}flipflop--full{% endif %} section">
        {% if image %}
        <div class="flipflop__image">
            {% co2image image %}
        </div>
        {% endif %}

        <div class="flipflop__content">
            <h1 class="heading heading--large">{{ title | formatCo2 | safe }}</h1>
            {% if body_intro_text %}
                {{ body_intro_text | markdown | safe }}
            {% endif %}
        </div>
    </section>

    {% displaycapture "after_intro" %}

    {% if body_main_text %}
    <section class="section section--content">
        {{ body_main_text | markdown | safe }}
    </section>
    {% endif %}

    {% displaycapture "after_main" %}

    {{ content | safe }}

    {% if body_addendum_text %}
    <section class="section section--content">
        {{ body_addendum_text | markdown | safe }}
    </section>
    {% endif %}

    {% displaycapture "after_addendum" %}
</article>