---
layout: base
---
<article class="container">
    <h1>Resources</h1>

    <div class="resources-index">
        <aside>
        Filters
        </aside>

        <div>
            {%- for item in collections.resources -%}
            <div class="resource" data-category="{{ item.data.category }}">
                <h4>
                    {% if item.data.url %}
                        <a href="{{ item.data.url }}" target="_blank">
                            {{ item.data.title }}
                        </a>
                    {% else %}
                        {{ item.data.title  }}
                    {% endif %}
                </h4>

                {{item.url}}
                <p>{{ item.date  }}</p>
                <p>{{ item.data['description_' + lang] }}</p>
                <p><small>{{ item.data.category }}</small></p>
            </div>
            {%- endfor -%}
        </div>
    </div>
</article>