---
layout: base
---
{% set translate = lang | translateFn %}
{% set items = collections['resources_' + lang] %}
{% set general = collections.all | getPage('general', lang) %}

{% set filters = ['calculator', 'art', 'best-practice', 'scientific', 'smart-devices', 'audio-streaming', 'blockchain', 'cloud-storage', 'email', 'online-gaming', 'searching', 'social-media', 'video-conferencing', 'video-streaming'] %}

<article class="container">
    <h1 class="heading heading--large">{{ title }}</h1>

    <div class="resources">
        <aside class="resources__filter">
            <button type="button" data-filter-active data-clear-filter>
                {{ translate('showall') }}
                <small>({{ items.length }})</small>
            </button>

            <hr />

            {% for item in filters %}
            {% set count = items | getFilterCount(item) %}
            <button
                type="button"
                data-filter="{{ item }}"
                {% if count === 0 %}
                disabled
                {% endif %}
            >
                {{ translate(item) }}
                <small>({{ count }})</small>
            </button>
            {% endfor %}
        </aside>

        <div>
            <div class="resource" data-category="none">
                <h4 class="heading heading--small">
                    {{ general.data.resources_intro_title }}
                </h4>
                {% if general.data.resources_intro_text %}
                    {{ general.data.resources_intro_text | markdown | safe }}
                {% endif %}
            </div>

            {%- for item in items | sortBy('date') -%}
            <div class="resource" data-category="{{ item.data.category | join }}">
                <h4>
                    {% if item.data.url %}
                        <a href="{{ item.data.url | url }}" target="_blank" rel="nofollow">
                            {{ item.data.title }}
                        </a>
                    {% else %}
                        {{ item.data.title  }}
                    {% endif %}

                    <small>{{ item.date | dateToFormat('y') }}</small>
                </h4>

                <p>{{ item.data.description }}</p>
                <p><small>
                    {% for c in item.data.category %}
                    <span>{{ translate(c) }}</span>
                    {% endfor %}
                </small></p>
            </div>
            {%- endfor -%}
        </div>
    </div>
</article>