---
layout: base
---
<article class="container" data-takeaction>
    <h1 class="heading heading--large">{{ title }}</h1>

    <section class="section" data-ta-list></section>

    <h3 class="heading">Looking for more ways to lower your digital CO2 emissions?</h3>
    {% include "topic-index.njk" %}
</article>