---
layout: page
---
{% capture "after_main" %}

{% set recipes = collections['recipes_' + lang] %}

{%- for item in recipes -%}
<div class="todo">Recipes go here</div>
{%- endfor -%}


<section class="section tasting-index">
    <div class="tasting-box">
        <h3 class="heading heading--normal">Upcoming tastings</h3>
        <ul class="tastings" data-tasting="future">
        {%- for item in collections.events | onlyFutureItems | sortBy('date') -%}
            {% include "tasting-item.njk" %}
        {%- endfor -%}
        </ul>
    </div>

    <div class="tasting-box">
        <h3 class="heading heading--normal">Past tastings</h3>
        <ul class="tastings" data-tasting="past">
        {%- for item in collections.events | onlyPastItems | sortBy('date') | reverse -%}
            {% include "tasting-item.njk" %}
        {%- endfor -%}
        </ul>
    </div>
</section>
{% endcapture %}