---
layout: page
---

{% set translate = lang | translateFn %}
{% set general = collections.all | getPage('general', lang) %}
{% set tasting = collections.all | getPage('sensing-co2', lang) %}


{% capture "after_intro" %}
{% if key %}
    <h3 class="heading">CO<sub>2</sub> Impact Calculator</h3>
    <div class="simple-page">
        {{ calculator_text | markdown | safe }}
    </div>
    <div class="calculator" data-calculator="{{ key }}"></div>
{% endif %}
{% endcapture %}

{% capture "after_main" %}
<section class="section" data-takeaction>
    <h3 class="heading">Tips</h3>
    <div class="simple-page">
        {{ general.data.tips_text | markdown | safe }}
    </div>

    <ul class="tips-list">
        {%- for item in tips -%}
        <li class="tip">
            <h4 class="tip__title">{{ item.tip | formatCo2 | safe }}</h4>

            <div class="tip__content">
                {{ item.explanation | markdown | safe }}
            </div>

            <p class="tip__label">
                {{ translate('addToTakeAction')}}
            </p>
            <label class="tip__todo">
                {{ item.todo }}
                <input type="checkbox" data-ta-todo="{{ key }}::{{ item.todo }}" />
                <div class="tip__indicator"></div>
            </label>
        </li>
        {%- endfor -%}
    </ul>
</section>
{% endcapture %}

{% capture "after_addendum" %}
<div class="banner" style="background-image: url('{{ tasting.data.image | url }}');" data-click-href="{{ tasting.url }}">
    <div class="banner__content">
        <h3 class="heading">{{ tasting.data.title }}</h3>
        {% if tasting.data.landingpage_text %}
            {{ tasting.data.landingpage_text | markdown | safe}}
        {% endif %}

        <a class="button button--small" href="{{ tasting.url | url }}">
            {{ translate('book_tasting') }}
        </a>
    </div>
</div>
{% endcapture %}
