// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import "utils/functions";
@import "utils/variables";
@import "utils/mixins";

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import "base/normalize";
@import "base/reboot";
@import "base/layout";
@import "base/typography";
@import "base/focus";
@import "base/screenreader";
@import "base/animation";

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import "components/header";
@import "components/nav";
@import "components/footer";
@import "components/icon";
@import "components/resources";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
}

// QUICK AND DIRTY TEMP STYLES
.simple-page {
  > section {
    h1,
    h2,
    h3 {
      @extend .heading;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1.1rem;
    }

    h4,
    h5 {
      font-size: 1rem;
    }

    p {
      max-width: 50rem;
    }
  }
}

.section {
  margin: 10rem 0;
}

.landing-hero {
  position: relative;
  margin-top: -4rem;

  &__img {
    display: block;
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    > div {
      max-width: 40rem;
    }

    span {
      display: inline-block;
      padding: 0.2em 0.2em;
      margin: 0 -0.3em;
      line-height: 1;
      background: rgba(#000, 0.9);
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.3;
    }
  }
}

.email-calculator-cta {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem;

  min-height: 20rem;

  h3,
  p {
    max-width: 30rem;
  }

  p {
    margin: 1rem 0;
  }
}

.topic-section {
  display: grid;
  gap: 3rem;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  &__content {
    p {
      margin: 1rem 0;
    }
  }
}

.topic-index {
  columns: 2;
  column-gap: 2rem;

  &__link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.3s;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1.75rem;
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
      border-radius: 4px;

      background: #111;
      filter: sepia(100%) hue-rotate(180deg);
      transition: filter 0.3s;
    }

    &:hover {
      background: #333;
      text-decoration: none;

      span {
        filter: sepia(100%) hue-rotate(220deg) invert(100%);
      }
    }
  }
}

.actionbar {
  padding: 1rem 2rem;
  border: 1px solid #333;
  background: #000;
  display: grid;
  grid-template-columns: 1fr 4fr auto;
  align-items: center;
  gap: 2rem;
  border-radius: 2px;

  h3 {
    margin: 0;
    font-weight: bold;
  }
}

.flipflop {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &__image {
    .flipflop--reverse & {
      order: 2;
    }

    img {
      display: block;
      width: 100%;
      border-bottom: 4px solid $brand-color-primary;
    }
  }

  &__content {
    p {
      margin: 1rem 0;
      max-width: 35rem;
    }
  }
}

.member-stories {
  margin: 1rem 0;

  &__item {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 3rem;
    grid-template-columns: auto 1fr;
  }

  &__img {
    display: block;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    background: #000;
  }

  &__content {
    max-width: 50rem;

    p {
      margin: 1rem 0;
    }
  }
}

.heading {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1rem;

  &--large {
    font-size: 2rem;
  }
}

.para {
  font-size: 1rem;
  line-height: 1.3;
}

.button {
  display: block;
  background: $brand-color-primary;
  color: #000;
  padding: 1rem 3rem;
  margin-right: -3rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid $brand-color-primary;

  &:hover {
    color: $brand-color-primary-offset;
    text-decoration: none;
    background: #222;
  }
}

.todo {
  display: inline-block;
  border: 1px solid orange;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  background: rgba(#f60, 0.8);

  &:before {
    content: "TODO: ";
    opacity: 0.5;
  }
}
