// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import "utils/functions";
@import "utils/variables";
@import "utils/mixins";

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import "base/normalize";
@import "base/reboot";
@import "base/layout";
@import "base/typography";
@import "base/focus";
@import "base/screenreader";
@import "base/animation";

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import "components/header";
@import "components/nav";
@import "components/footer";
@import "components/icon";
@import "components/resources";
@import "components/landing-calculator-cta";
@import "components/landing-hero";
@import "components/actionbar";
@import "components/button";
@import "components/decorated-img";
@import "components/flipflop";
@import "components/member-stories";
@import "components/topic-index";
@import "components/tasting";
@import "components/banner";
@import "components/tips";
@import "components/calculator";
@import "components/range-input";
@import "components/park-view";
@import "components/map-view";
@import "components/recipe";
@import "components/take-action";

//--------------------
// LAYOUTS
// page layout specific styles
//--------------------

@import "layouts/landingpage";
@import "layouts/simple";

// QUICK AND DIRTY TEMP STYLES

.todo {
  display: inline-block;
  border: 1px solid orange;
  padding: 0.75rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #fff;
  background: rgba(#f60, 0.8);
  max-width: 30rem;

  &:before {
    content: "TODO: ";
    font-weight: bold;
    opacity: 0.5;
  }
}
