// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import "utils/functions";
@import "utils/variables";
@import "utils/mixins";

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import "base/normalize";
@import "base/reboot";
@import "base/layout";
@import "base/typography";
@import "base/focus";
@import "base/screenreader";
@import "base/animation";

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import "components/header";
@import "components/nav";
@import "components/footer";
@import "components/icon";
@import "components/resources";

// QUICK AND DIRTY TEMP STYLES
.simple-page {
  margin-top: 2rem;
  margin-bottom: 2rem;

  > section {
    margin: 4rem 0;

    p {
      max-width: 50rem;
    }
  }
}

.actionbar {
  padding: 1rem 2rem;
  margin: 2rem 0;
  border: 1px solid #555;
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 2rem;
  align-items: center;
  border-radius: 2px;

  > a {
    display: block;
    background: #0f0;
    color: #000;
    padding: 1rem 2rem;
    margin-right: -3rem;
  }
}

.flipflop {
  display: flex;
  align-items: center;
  margin: 6rem 0;

  &--reverse {
    flex-direction: row-reverse;
  }

  &__image {
    flex: 1;
    margin-right: 3rem;

    .flipflop--reverse & {
      margin-right: 0;
      margin-left: 3rem;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__content {
    flex: 1;

    p {
      margin: 1rem 0;
    }
  }
}
